<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bignerdranch.criminalintent">

    <!-- SOS: it's good to declare whatever feature I use, eg gps, nfc etc. I set required to false,
    because even devices without a camera can install this app. I handle its absence gracefully -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".CrimeListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CrimePagerActivity"
            android:parentActivityName=".CrimeListActivity" />

        <!-- SOS: We don't need to implement our own ContentProvider, we use Google's FileProvider.
        Authority should be like here. exported=false allows access only to those apps I grant
        permission to. Finally, grantUri.. means I'll grant permission to write to URIs of this
        authority when I send them out in an Intent. -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.bignerdranch.criminalintent.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files" />
        </provider>
    </application>
</manifest>